body {
    font-family: 'Poppins', sans-serif;
    
    color: white;
    background-color: #635985;
}

main {
    box-shadow: 5px 5px 5px 1px #282D35;
    
}

#root {
    background-color: #393053;
    width: 300px;
    border-radius: 2%;
    margin: 0 auto;
}

p {
    color: #eeeade;
    font-size: 12px;
}

/* #282c34; footer */

.info-container {
    width: 300px;
    height: 470px;
    text-align: center;
}

.info-container > p {
    margin-top: 0;
}
.info-container > h2 {
    margin-bottom: 0;
}

.info-site {
    display: block;
    text-decoration: none;
    color:beige;
    font-size: 10px;
}

.info-image {
    width: 300px;
    height: 300px;
    z-index: -1;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

.linkedinBtn, .emailBtn {
    margin: 3% 2%;
    border-radius: 5%;
    border-width: 0;
    padding: 2% 10%;
    font-weight: bold;
    transition-duration: 0.5s;
}

.linkedinBtn {
    background-color: #0d6efd;
    color: white;
    
}

.emailBtn {
    background-color: white;
    color: black;
}

.linkedinBtn:hover {
    transition: all 0.8s;
    background-color: #5BC0F8;
}

.emailBtn:hover {
    transition: all 0.8s;
    background-color: #9D9D9D;
}

.linkedIn, .email {
    display: inline;
}

/* About */

.about-div {
    max-width: 300px;
    margin: auto 8%;
    padding-bottom: 4%;
}

.about-div > p {
    margin-top: 0;
}

.about-div > h4 {
    margin-top: 0;
    margin-bottom: 1%;
}

/* interests */

.interests-div > h4 {
    margin-bottom: 0;
}

.interests-div > p {
    margin-top: 1%;
}

/* Footer */

.footer-div {
    background-color: #18122B;
    text-align: center;
    overflow: hidden;
}

.fa-footer {
    padding: 4% 4%;
}